/* Typography */

body {
    font-family: var(--font-body);
    font-size: 16px;
    color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: var(--line-height-heading);
    margin-bottom: var(--space-2);
    color: var(--color-text-primary);
}

h1 {
    font-size: 3rem;
    /* 48px */
    letter-spacing: -0.02em;
}

h2 {
    font-size: 2.25rem;
    /* 36px */
    letter-spacing: -0.01em;
}

h3 {
    font-size: 1.5rem;
    /* 24px */
}

p {
    margin-bottom: var(--space-3);
    max-width: var(--max-width-text);
    font-size: 1.125rem;
    /* 18px */
}

.text-small {
    font-size: 0.875rem;
    /* 14px */
    color: var(--color-text-secondary);
}

.text-muted {
    color: var(--color-text-secondary);
}

.context-header-subtext {
    font-size: 1.25rem;
    color: var(--color-text-secondary);
    max-width: var(--max-width-text);
    margin-bottom: 0;
}